<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		 <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />

	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<unity>
	<container>
		<register type="IocUnity.Shoper, IocUnity" mapTo="IocUnity.Shoper, IocUnity" /> 
		<register type="IocUnity.ICreaditCard, IocUnity" mapTo="IocUnity.VisaCard, IocUnity" /> 
		 
	</container>
		</unity>
</configuration>