// $mainColor:#d14848;
// $maxMobile:767px;
// $mediasMall: "(max-width:767px)";
$mainColor:#dd2f6e;
$z-index-overlay:100;
$z-index-header:110;
$z-index-setting-box:115;
$z-index-popup:120;

$max-width:'(max-width: 991px)';
$varmaincolor:'var(--main-color)'
 

 
